<h3>FAQ | Preguntas frecuentes</h3>

<strong>¿Qué es una pole para nosotros?</strong>

<p>Una pole es el primer mensaje, sin importar el contenido, en un hilo del <strong>General</strong> que no está censurado (es decir, no es +hd, +prv...). Debido a la dificultad técnica de controlar todos los hilos en los que nunca se ha hecho una pole solo contarán poles hasta media hora después del primer mensaje. No obstante no se descartan barridos de todos los hilos sin poles de vez en cuando para detectar poles que se realizaron pasada esa media hora.</p> 

<br/>

<strong>¿No cuentas los hilos con +hd, +prv, +18 hijo de la gran puta? ¿Por qué?</strong>

<p>Necesito cuentas de ForoCoches para no llamar la atención Electrik, si me das entre 10 y 15 cuentas de ForoCoches lo hago sin problemas.</p>

<br/>

<strong>¿Cuanto tarda en actualizarse el Ranking Global?</strong>

<p>El Ranking Global se actualiza cada 10-15 minutos dependiendo de la carga del servidor, a diferencia de los otros rankings que sí se actualizan en tiempo real.</p>

<br/>

<strong>El diseño es una mierda</strong>

<p>Estoy abierto a otros diseños, házmelos llegar, no tengo problemas en implantar más diseños.</p>

<br/>

<strong>¿Tienes el apoyo de Electrik?</strong>

<p>No, lo que lo hace más interesante.</p>

<br/>

<strong>No quiero aparecer en el ranking ¿Qué puedo hacer?</strong>

<p>No polear.</p>

<br/>

<strong>¿Como puedo acceder a los datos si soy desarrollador?</strong>

<p>Estoy desarrollando una API que publicaré cuando compruebe la sostenibilidad del servicio.</p>

<br/>

<strong>¿Como puedo contactarte?</strong>

<p>Escribe un mensaje en ForoCoches empleando palabras como "contador de poles" y yo contactaré contigo.</p>